{
  "presets": ["env", "react", "es2017", "stage-0"],

  "env": {
    "development": {
      "presets": ["react-hmre"]
    }
  },

  "env": {
    "production": {
      "presets": [
        [
          "env",
          {
            "es2017": {
              "modules": false
            }
          }
        ]
      ]
    }
  },

  "env": {
    "test": {
      "plugins": ["istanbul"]
    }
  }
}
