{

  "presets": [
    "env", "react", "es2015", "stage-0"
  ],

  "env": {
    "development": {
      "presets": ["react-hmre"]
    }
  },

  "env": {
    "production": {
      "presets": [
        ["env", {
          "es2015": {
            "modules": false
          }
        }]
      ]
    }
  },

  "env": {
    "test": {
      "plugins": [
        "istanbul"
      ]
    }
  }

}
