{

  "presets": [
    "env", "react"
  ],

  "env": {
    "development": {
      "presets": ["react-hmre"]
    }
  },

  "env": {
    "production": {
      "presets": [
        ["env", {
          "es2015": {
            "modules": false
          }
        }]
      ]
    }
  }
}
